- content_for :javascripts do
  = include_javascript :highcharts
  = include_javascript :chart_helper
  = include_javascript :fusion_tables
  
  :javascript
    $(function () {
      FusionTables.getChartData("Name IN ('License Trend', 'Permit Trend', 'Cook County Unemployment Season')");
    });

.row-fluid
  .span12
    .alert.alert-info
      %h3 This is for Forest!
        
    #charts