- content_for :javascripts do
  = include_javascript :highcharts
  = include_javascript :chart_helper
  = include_javascript :fusion_tables
  
  :javascript
    $(function () {
      FusionTables.getChart("Grouping = 'Business Licenses' AND Type IN ('Trend', 'Raw')");
      FusionTables.getChart("Grouping = 'Building Permits' AND Type IN ('Trend', 'Raw')");
      FusionTables.getChart("Grouping = 'Unemployment' AND 'Source' = 'IDES' AND Type IN ('Trend', 'Raw')");
      FusionTables.getChart("Name = 'Foreclosure Quarterly'");
    });

.row-fluid
  .span6.well
    %h3 
      New Business Licenses
    %p
      Source: 
      %a{:href => "https://data.cityofchicago.org/Community-Economic-Development/Business-Licenses/r5kz-chrr"} City of Chicago
      |
      Trend: 
      %span.label.label-warning
        It's been better!

        
    #chart_Business-Licenses.chart
  .span6.well
    %h3 
      Unemployment
    %p
      Source: 
      %a{:href => "http://www.bls.gov/lau/"} Bureau of Labor Statistics
      |
      Trend: 
      %span.label.label-success
        It's turning around!
    #chart_Unemployment.chart

.row-fluid
  .span6.well
    %h3 
      Building Permits
    %p 
      Source:
      %a{:href => "https://data.cityofchicago.org/Buildings/Building-Permits/ydr8-5enu"} City of Chicago
      |
      Trend: 
      %span.label.label-warning
        It's been better!
    #chart_Building-Permits.chart
  .span6.well
    %h3 
      Housing Foreclosures
        
    %p 
      Source:
      %a{:href => "http://www.woodstockinst.org/"} Woodstock Institute
      |
      Trend: 
      %span.label.label-important
        It's not looking good
    #chart_Foreclosures.chart

.row-fluid
  .span12
    %h3
      About this project
    %p
      This is a short paragraph describing the charts, data sources, our analysis and what this all means to the user. Link to 
      %a{:href => "/about"} more
