- content_for :javascripts do
  = include_javascript :highcharts
  = include_javascript :chart

.row-fluid
  .span12
    .alert
      %h3 It's been better!
      
    #businessLicenseTrend{:style => "min-width: 400px; height: 400px; margin: 0 auto"}
    
    #businessLicenseRaw{:style => "min-width: 400px; height: 400px; margin: 0 auto"}
    
    #businessLicenseSeason{:style => "min-width: 400px; height: 400px; margin: 0 auto"}