.row-fluid
  .span6.well
    %h3 
      %a{:href => "/about#taxable-sales"}
        Taxable Sales (Inflation Adjusted)
        %small
          More info
    %p 
      Source:
      %a{:href => "https://www.revenue.state.il.us/app/kob/index.jsp"} Illinois Dept of Revenue
      |
      Trend: 
      %span.label.label-success
        Bouncing back
    #chart_Taxable-Sales.chart

  .span6.well
    %h3 
      %a{:href => "/about#unemployment"}
        Unemployment
        %small
          More info
    %p
      Source: 
      %a{:href => "http://www.bls.gov/lau/"} Bureau of Labor Statistics
      |
      Trend: 
      %span.label.label-success
        Turning around
    #chart_Unemployment.chart

.row-fluid
  .span6.well
    %h3 
      %a{:href => "/about#building-permits"}
        Building Permits (New Construction)
        %small
          More info
    %p 
      Source:
      %a{:href => "https://data.cityofchicago.org/Buildings/Building-Permits/ydr8-5enu"} City of Chicago
      |
      Trend: 
      %span.label.label-important
        Steady decline
    #chart_Building-Permits.chart
  .span6.well
    %h3 
      %a{:href => "/about#foreclosures"}
        Housing Foreclosures
        %small
          More info
        
    %p 
      Source:
      %a{:href => "http://www.woodstockinst.org/"} Woodstock Institute
      |
      Trend: 
      %span.label.label-warning
        Holding steady
    #chart_Foreclosures.chart

.row-fluid
  .span6.well
    %h3
      %a{:href => "/about#new-businesses"} 
        New Business Licenses
        %small
          More info
    %p
      Source: 
      %a{:href => "https://data.cityofchicago.org/Community-Economic-Development/Business-Licenses/r5kz-chrr"} City of Chicago
      |
      Trend: 
      %span.label.label-important
        Been better
        
    #chart_Business-Licenses.chart

.row-fluid
  .span12
    %h3
      About this project
    %p
      %p 
        How’s Business provides a view of Chicago’s local economy. It uses open data to show how several economic indicators have been trending since 2005. 
        %a{:href => "/about"} More &raquo;
